<app-header></app-header>
<div class="profile-container">
  <img [src]="imageUrl" alt="Profile Picture" class="profile-picture" />
  <h2 class="profile-name">{{ fname }} {{ lname }}</h2>
</div>
<app-posts></app-posts>
<app-newpost
  [showModal]="showModalValue"
  (closeModalEvent)="closeModalHome()"
></app-newpost>
<div>
  <button class="new-post-button refresh-btn" (click)="refreshPage()">
    <i class="fas fa-refresh"></i>
  </button>
  <button class="new-post-button" (click)="newPostHandler()">
    <i class="fas fa-plus"></i>
  </button>
</div>
