<div class="post-wrapper">
  <div class="post-card" *ngFor="let card of post">
    <header class="post-header">
      <img [src]="imageUrl" alt="Profile Picture" class="profile-pic" />
      <div class="profile-info">
        <h3 class="profile-name">{{ fname }} {{ lname }}</h3>
        <p class="post-time">10 hours ago</p>
      </div>
    </header>

    <section class="post-body">
      <div class="text-post">
        <p>{{ card.posts.textpost.content }}</p>
      </div>
    </section>

    <footer class="post-footer">
      <div class="likes-section">
        <button class="like-button">
          <i class="heart-icon" style="color: #000000"></i>
          <span class="like-count"></span>
        </button>
        <div class="liked-by"></div>
        <p class="liked-by-text"></p>
      </div>
      <div class="comments-share-section">
        <p class="comment-count"><i class="comment-icon"></i></p>
        <p class="share-count"><i class="share-icon"></i></p>
      </div>
    </footer>
  </div>
</div>
