.posts-container {
  /* Styles for optional container */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  margin: 16px auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.post-header {
  display: flex; /* Arranges profile image and info side-by-side */
  align-items: center; /* Vertically centers the content */
  margin-bottom: 15px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.profile-info {
  font-weight: bold; /* Emphasize profile name */
}

.post-time {
  color: #666; /* Grayed-out for subtle timestamp */
}

.post-body {
  margin-bottom: 15px;
}

.poll-answers {
  margin-top: 10px;
}

.content {
  padding-bottom: 60px;
}

/* Image post */

.image-post {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.post-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.image-description {
  text-overflow: ellipsis;
  display: block;
  word-break: normal;
}

/* poll */
.poll-post {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.poll-options {
  margin-bottom: 10px;
}

.poll-options input[type="radio"] {
  margin-right: 10px;
}

.vote-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.vote-button:hover {
  background-color: #535353;
}
/* .post-footer {
  display: flex;
  justify-content: space-between; 
}

.likes-section,
.comments-share-section {
  display: flex;
  align-items: center;
}

.like-button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.heart-icon {
  color: red;
  margin-right: 5px;
} */
