
<div class="signup-container">
    <div class="signup-form">
      <h3>SIGN UP PAGE</h3>
      <form [formGroup]="registerForm">
        <label for="fname">First Name</label>
        <input type="text" name="fname" id="fname" formControlName="fname" />
        <label for="lname">Last Name</label>
        <input type="text" name="lname" id="lname" formControlName="lname" />
        <label for="imageUrl">Image URL</label>
        <input type="text" name="imageUrl" id="imageUrl" formControlName="imageUrl" />
        <br />
        <label for="email">Email</label>
        <input type="text" name="email" id="email" formControlName="email" />
        <br />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" formControlName="password" />
        <br />
        <button (click)="onRegisterSubmit()">Submit</button>
      </form>
      <p >Already have an account?</p> <button (click)="navigateLogIn()">Log in</button>
    </div>
  </div>
  
